.home-page-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    background-color: #0c0c0c91;
    padding: 18px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border: 0.3px solid #505050;
    margin-top: 30px;
    .heading {
        font-size: 22px;
        text-align: center;
        padding: 14px;
    }
    .show-times-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .show-name {
            width: 300px;
            height: 400px;
            margin: 16px;
            transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
            background-color: white;
            padding: 10px;
            .movie-name {
                color: black;
                font-size: 18px;
                text-align: center;
                display: flex;
                justify-content: center;
            }
            &:hover {
                border: none;
                cursor: pointer;
                border-radius: 20px;
                box-shadow: 0 0 60px rgba(0, 0, 0, 0.16), 0 6px 77px rgba(0, 0, 0, 0.1);
                transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
            }
        }
    }
}