html,
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    height: 100%;
}

.bg-container {
    background-image: url('./assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}
